<h2>Edit Link</h2>
<div class='col-md-6'>
<%= form_for @rlink do |rl| %>
	<div class="form-group">
		<%= label_tag(:link, "Target URL:") %>
		<%= rl.text_field(:link, value: @rlink.link, class: "form-control") %>
	</div>
	<div class="form-group">
  		<%= label_tag(:random_string, "Link Token:") %>
  		<%= rl.text_field(:random_string, value: @rlink.random_string, class: "form-control") %>
	</div>
  	<%= rl.submit("Update", class: "btn btn-primary") %>
<% end %>
</div>